
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataAccess.Student.StudentDTO
<h2>Detail</h2>
@*@ViewBag.ID;
@ViewBag.Name;*@

@Model.ID
<br />
@Model.Name;


