@{
    ViewBag.Title = "Home Page";
}

@model List<DataAccess.Student.DTO.StudentDTO>
<div class="jumbotron">
    <h4>UserID : @ViewBag.IsAdmin </h4>
    <h4>FullName : @ViewBag.FullName</h4>
    <a href="/Home/Logout">LogOut</a>
</div>


<div class="form-group">
    <label for="exampleInputEmail1">UserName</label>
    <input type="email" class="form-control" id="txtUserName" aria-describedby="emailHelp" placeholder="Enter UserName">
</div>
<div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="txtPassword" placeholder="Password">
</div>

<button type="button" id="btn_Login" class="btn btn-primary">Login</button>
<button type="button" id="btn_InsertUpdate" class="btn btn-success">Thêm mới</button>


<div class="form-group">
    <label for="exampleInputEmail1">Mã lớp</label>
    <input type="email" class="form-control" id="txtMaLop" aria-describedby="emailHelp" placeholder="Enter UserName">
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Chọn chứa dữ liệu CLass</label>
    <input type="file" class="form-control" id="UploadedFile">
</div>

<button type="button" id="btn_SearchClass" class="btn btn-primary">Tìm kiếm</button>
<button type="button" id="btn_ShowPopup" class="btn btn-primary">Show Popup</button>
<button type="button" id="btn_ExportExcel" class="btn btn-primary">ExportExcel</button>
<button type="button" id="btn_ImportExcel" class="btn btn-primary">ImportExcel</button>
<a href="http://localhost:44352/account/ManagerUser">Danh sách tài khoản</a>

<div id="listClassPartial">
    @Html.Action("DemoPartialView", "Home", new { MaLopInPut = "", CurrentPage = 1, RecordPerPage = 2 })
</div>
<div id="PopupDiv"></div>
<script>
    $(document).ready(function () {
        $("#btn_InsertUpdate").click(function () {
            window.location.href = "/Home/Detail";
        });

        $("#btn_SearchClass").click(function () {
            GetListClass();

        });

        $("#btn_ImportExcel").click(function () {
            UploadExcelFile();
        });

        $("#btn_ExportExcel").click(function () {
            window.location.href = "/Home/ExportExcel";
        });

        $("#btn_ShowPopup").click(function () {
            var str = "Bạn đang xem poup";
            Common.ShowPoup(str);

        });

        $("#btn_Login").click(function () {

            var username = $("#txtUserName").val();
            var password = $("#txtPassword").val();

            if (username == null || username == "") {
                // alert("Vui lòng nhập UserName");
                Common.ShowPoup("Vui lòng nhập UserNam");
                return;
            }
            if (password == null || password == "") {
                Common.ShowPoup("Vui lòng nhập password");
                return;
            }

            var data = {
                UserName: username,
                Password: password
            };

            $.ajax({
                type: "GET", // GET / POST / DELETE
                cache: false,
                url: "/Home/Login",
                data: data,    // multiple data sent using ajax
                success: function (data) {
                    $("#PopupDiv").html(data);
                    $("#myModalPopup").modal("show");
                    // $("#myModalPopup").modal("hide"); ẩn popup

                }
            });


        });

    });

    function UploadExcelFile() {
        var data = new FormData();
        var files = $("#UploadedFile").get(0).files;
        if (files.length > 0) {
            data.append("UploadedFile", files[0]);
        }

        var Url = "/Home/UpdateDiemHSByFile";

        $.ajax({
            type: "POST",
            url: Url,
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {

                var responsecode = data.ResponseCode;
                var des = data.Description;
                if (responsecode > 0) {

                    //var row_err = des.split('_')[0];
                    //var text_err = des.split('_')[1];

                    alert(des);
                } else {

                    alert(des);
                }
            },
            error: function (data) {
                //  utils.unloading();
                console.log("error:" + JSON.stringify(data));
            }
        });
    }

    function GetListClass() {
        var data = {
            MalopInput: $("#txtMaLop").val(),
            CurrentPage: 1,
            RecordPerPage: 2
        };

        $.ajax({
            type: "GET", // GET / POST / DELETE
            cache: false,
            url: "/Home/DemoPartialView",
            data: data,
            success: function (data) {
                $("#listClassPartial").html(data);
            }
        });
    }



</script>
