@{
    ViewBag.Title = "Home Page";
}

@model List<DataAccess.Student.StudentDTO>
<div class="jumbotron">
    <h1>ASP.NET</h1>

</div>


<div class="form-group">
    <label for="exampleInputEmail1">UserName</label>
    <input type="email" class="form-control" id="txtUserName" aria-describedby="emailHelp" placeholder="Enter UserName">
</div>
<div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="txtPassword" placeholder="Password">
</div>

<button type="button" id="btn_Login" class="btn btn-primary">Login</button>
<button type="button" id="btn_InsertUpdate" class="btn btn-success">Thêm mới</button>
@Html.Action("DemoPartialView","Home")
<script>
    $(document).ready(function () {
        $("#btn_InsertUpdate").click(function () {
            window.location.href = "/Home/Detail";
        });

        $("#btn_Login").click(function () {

            var username = $("#txtUserName").val();
            var password = $("#txtPassword").val();

            if (username == null || username == "") {
                alert("Vui lòng nhập UserName");
                return;
            }
            if (password == null || password == "") {
                alert("Vui lòng nhập password");
                return;
            }

            var data = {
                UserName: username,
                Password: password
            };

            $.ajax({
                type: "GET", // GET / POST / DELETE
                cache: false,
                url: "/Home/Login",
                data: data,    // multiple data sent using ajax
                success: function (data)
                {
                    var res = data.ResponseCode;
                    var des = data.Description;
                    alert(des);
                }
            });


        });

    });


</script>