
@{
    Layout = null;
}
@model List<DataAccess.Student.DTO.AccountDTO>
<style>
    .paginate_button .active {
        background-color: red;
    }
</style>
<table class="table" id="table_id">
    <thead>
        <tr>
            <th scope="col">UserId</th>
            <th scope="col">UserName</th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserId</td>
                    <td>@item.UserName</td>
                    <td>
                        <a href="/Account/GrantUser?UserIDInput=@item.UserId"><i class="fa fa-eye">Sửa</i> | </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>